.anim-duration-03 {
  animation-duration: 0.3s;
}

.anim-duration-05 {
  animation-duration: 0.5s;
}

.anim-duration-08 {
  animation-duration: 0.8s;
}

.anim-duration-1 {
  animation-duration: 1s;
}
